<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.main.page.mapper.welcome.WelcomeMapper">
	
	<resultMap type="com.main.page.vo.welcome.WelcomeProductVo" id="reusltMap">  
        <result property="id" column="id"/>  
        <result property="productId" column="product_id"/>  
        <result property="title" column="title"/>  
        <result property="imgurl" column="imgurl"/> 
        <result property="videourl" column="videourl"/> 
        <result property="remark" column="remark"/>  
        <result property="serial" column="serial"/>  
    </resultMap>
	 	
	<select id="query" resultMap="reusltMap" >
	    select t.id,t.product_id,t.`order` as serial,p.imgurl,p.remark,p.title,p.videourl from welcome t 
		left join product p 
		on t.product_id=p.id
		<where>
			<if test="name !=null and name !=''">
				p.title like  CONCAT('%',#{name},'%')
			</if>
		</where>
		order by t.`order`
	</select>
</mapper>